@import url("https://fonts.googleapis.com/css2?family=Hanken+Grotesk:wght@500;700;800&display=swap");
*,
::after,
::before,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Hanken Grotesk", sans-serif;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  min-height: 100dvh;
}

a {
  text-decoration: none;
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44rem;
  height: 30em;
  box-shadow: 0.5rem 0.5rem 0.8rem hsla(224deg, 30%, 27%, 0.1);
  border-radius: 1.5rem;
}

.left-card {
  width: 50%;
  min-height: 100%;
  background-image: linear-gradient(to bottom, hsl(252deg, 100%, 65%), hsl(241deg, 81%, 54%));
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-radius: 1.5rem;
  position: relative;
}
.left-card h3 {
  position: absolute;
  top: 2.5rem;
  color: hsla(241deg, 100%, 89%, 0.9);
  font-size: 1.5rem;
}
.left-card .result_score {
  width: 10em;
  height: 10em;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-radius: 100%;
  background-image: linear-gradient(to bottom, hsl(256deg, 72%, 46%), hsla(241deg, 72%, 46%, 0));
}
.left-card .result_score h1 {
  color: white;
  font-size: 3.4rem;
}
.left-card .result_score p {
  color: hsla(241deg, 100%, 89%, 0.5);
  font-size: 1rem;
}
.left-card h2 {
  position: relative;
  top: 1.4rem;
  color: white;
  font-size: 1.8rem;
  letter-spacing: 1px;
  font-weight: 700;
}
.left-card .score-dis {
  width: 20rem;
  position: relative;
  top: 2rem;
  height: auto;
  padding: 1rem 1.2rem;
  color: hsla(241deg, 100%, 89%, 0.9);
  font-size: 1.2rem;
}

.right-card {
  min-width: 50%;
  min-height: 100%;
  padding-inline: 2rem;
}
.right-card h3 {
  margin-top: 2.8rem;
  margin-bottom: 1rem;
}
.right-card .response-r {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.right-card .response-r p {
  color: hsl(0deg, 100%, 67%) !important;
  font-size: 0.9rem;
  font-weight: 300;
}
.right-card .response-m {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.right-card .response-m p {
  color: hsl(39deg, 100%, 56%) !important;
  font-size: 0.9rem;
  font-weight: 300;
}
.right-card .response-ve {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.right-card .response-ve p {
  color: hsl(166deg, 100%, 37%) !important;
  font-size: 0.9rem;
  font-weight: 300;
}
.right-card .response-vi {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.right-card .response-vi p {
  color: hsl(234deg, 85%, 45%) !important;
  font-size: 0.9rem;
  font-weight: 300;
}
.right-card .res-img img {
  max-width: 1.2rem;
  margin-right: 0.5rem;
}
.right-card .summ_list_r {
  max-width: 100%;
  margin-block: 0.6rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: hsla(0deg, 100%, 67%, 0.07);
  padding: 0.9rem;
  border-radius: 0.4rem;
  font-weight: 800;
  color: hsl(224deg, 30%, 27%);
  font-size: 0.9rem;
}
.right-card .summ_list_r span {
  color: hsla(224deg, 30%, 27%, 0.5);
}
.right-card .summ_list_m {
  max-width: 100%;
  margin-block: 0.6rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: hsla(39deg, 100%, 56%, 0.07);
  padding: 0.9rem;
  border-radius: 0.4rem;
  font-weight: 800;
  color: hsl(224deg, 30%, 27%);
  font-size: 0.9rem;
}
.right-card .summ_list_m span {
  color: hsla(224deg, 30%, 27%, 0.5);
}
.right-card .summ_list_ve {
  max-width: 100%;
  margin-block: 0.6rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: hsla(166deg, 100%, 37%, 0.07);
  padding: 0.9rem;
  border-radius: 0.4rem;
  font-weight: 800;
  color: hsl(224deg, 30%, 27%);
  font-size: 0.9rem;
}
.right-card .summ_list_ve span {
  color: hsla(224deg, 30%, 27%, 0.5);
}
.right-card .summ_list_vi {
  max-width: 100%;
  margin-block: 0.6rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: hsla(234deg, 85%, 45%, 0.07);
  padding: 0.9rem;
  border-radius: 0.4rem;
  font-weight: 800;
  color: hsl(224deg, 30%, 27%);
  font-size: 0.9rem;
}
.right-card .summ_list_vi span {
  color: hsla(224deg, 30%, 27%, 0.5);
}
.right-card button {
  border: none;
  width: 100%;
  margin-top: 1.8rem;
  color: aliceblue;
  border-radius: 10rem;
  padding: 1rem 1rem;
  font-size: 1rem;
  background-color: hsl(224deg, 30%, 27%);
}
.right-card button:hover {
  background-image: linear-gradient(to bottom, hsl(252deg, 100%, 65%), hsl(241deg, 81%, 54%));
  cursor: pointer;
}

@media screen and (max-width: 448px) {
  body {
    display: block;
  }
  main {
    display: block;
    min-height: 100%;
    box-shadow: none;
    border-radius: none;
  }
  .left-card {
    width: 100vw;
    min-height: 80%;
    border-radius: 0 0 1.5rem 1.5rem;
  }
  .left-card h3 {
    position: absolute;
    top: 1.5rem;
    color: hsla(241deg, 100%, 89%, 0.9);
    font-size: 1rem;
  }
  .left-card .score-dis {
    padding: 1rem 2rem;
    color: hsla(241deg, 100%, 89%, 0.9);
    font-size: 0.8rem;
  }
  .right-card {
    width: 100vw;
  }
  button {
    margin-bottom: 2.5rem;
  }
}/*# sourceMappingURL=style.css.map */