@mixin flex($justy-cont) {
  display: flex;
  justify-content: $justy-cont;
  align-items: center;
}

@mixin score-circle-prop($color, $fontSize) {
  color: $color;
  font-size: $fontSize;
}

@mixin resp($color, $fontSize) {
  color: $color;
  font-size: $fontSize;
  font-weight: 300;
}

@mixin summlist($bg-color) {
  max-width: 100%;
  margin-block: .6rem;
  @include flex(space-between);
  background-color: $bg-color;
  padding: .9rem;
  border-radius: 0.4rem;
  font-weight: 800;
}

@mixin summlist_p{
    color: hsl(224, 30%, 27%);
    font-size: .9rem;
    span {
      color: hsla(224, 30%, 27%, 50%);
    }
}
